<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Brothers Real Estate Services | Top Rated, Low Commission, Flat Fee Real Estate in Seattle, WA</title>
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="UrjvsyOLVckemDwWP2DJEDz8cBHHOXIyJCtXGlimhPI" />

    <link rel="canonical" href="https://twobrothersrealestateservices.azurewebsites.net/index" />

    <meta name="title" content="Two Brothers Real Estate Services - Top Rated, Low Commission, Flat Fee Real Estate in Seattle, WA 98105">
    <meta name="description" content="TwoBrothersRealEstateServices offers top-rated real estate services in Seattle. Discover discounts, low commissions, and expert advice for buying and selling homes."
    <meta name="keywords" content="top-rated real estate services in Seattle |  Discover discounts | low commissions and expert advice for buying and selling homes | a la carte | flat fee | lowest fees | top rated real estate in Seattle | Veteran and military discount | Seattle best low commission real estate servicesbuying a home in Seattle | selling property in Seattle | discount rate vs irr | real estate companies in usa | USA real estate company | real estate company in us | real estate agencies in Seattle usa | real estate agent | real estate companies | real estate business | real estate website | what is real estate | real estate meaning | what is real estate business | real estate brokerage | estate agents | list of real estate companies in Seattle usa | top 100 real estate companies in Seattle usa | house real estate | top real estate companies in the Seattle us | real estate business meaning | real estate business means | buy homes | house buying websites | real estate listings | buy house in usa | real estate definition | real estate & property | real estate property | how to become a real estate agent | real estate broker">
    <meta name="company Name and URL" content="Two Brothers Real Estate, https://TwoBrothersRealEstateServices.azurewebsites.net">
    <meta name="core Services" content="Buying, selling, agentship and renting">
    <meta name="location" content="Seattle,Seattle, WA">
    <meta name="specialization" content="esidential, commercial, and luxury properties.">
    <meta name="author" content="TwoBrothersRealEstateServices">
    <meta name="Image" content="https://TwoBrothersRealEstateServices.azurewebsites.net/Images/logo.jpg">        
    <meta name="language" content="English">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    
    

    <!-- Open Graph Meta Tags for better social media integration -->
    <meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Two Brothers Real Estate Services | Top Rated, Low Commission, Flat Fee Real Estate in Seattle, WA" />
	<meta property="og:description" content="TwoBrothersRealEstateServices offers top-rated real estate services in Seattle. Discover discounts, low commissions, and expert advice for buying and selling homes."/>
    <meta property="og:keywords" content="top-rated real estate services in Seattle |  Discover discounts | low commissions and expert advice for buying and selling homes | a la carte | flat fee | lowest fees | top rated real estate in Seattle | Veteran and military discount | Seattle best low commission real estate servicesbuying a home in Seattle | selling property in Seattle | discount rate vs irr | real estate companies in usa | USA real estate company | real estate company in us | real estate agencies in Seattle usa | real estate agent | real estate companies | real estate business | real estate website | what is real estate | real estate meaning | what is real estate business | real estate brokerage | estate agents | list of real estate companies in Seattle usa | top 100 real estate companies in Seattle usa | house real estate | top real estate companies in the Seattle us | real estate business meaning | real estate business means | buy homes | house buying websites | real estate listings | buy house in usa | real estate definition | real estate & property | real estate property | how to become a real estate agent | real estate broker">
	<meta property="og:url" content="https://twobrothersrealestateservices.azurewebsites.net/index/" />
	<meta property="og:site_name" content="Two Brothers Real Estate Services" />
	<meta property="website:modified_time" content="2024-06-27T21:20:38+00:00" />
	<meta property="og:image" content="https://TwoBrothersRealEstateServices.azurewebsites.net/Images/logo.jpg" />
	<meta property="og:image:width" content="600" />
	<meta property="og:image:height" content="200" />
	<meta name="twitter:card" content="summary" />	
    

    @* <meta http-equiv="refresh" content="5; url=http://www.google.com"> *@
        
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/TwoBrothersRealEstateServices.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CJPJW7SEW8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CJPJW7SEW8');
</script>

    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
                    @* <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Services">Services</a>
                        </li>                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/RealEstateGuide">Real Estate Guide</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ContactUs">Contact Us</a>
                        </li>
                    </ul> *@
                @* </div>
            </div>
        </nav>
    </header> *@
    <div class="container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TwoBrothersRealEstateServices - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>