:root{
  --headlinefont: Ubuntu;
}

body {
  font-family:  var(--headlinefont);
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #BDC3C7; 
  color: #000000; 
}
header {
  background: #28a745;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
header p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
}
main {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
section {
  margin-bottom: 2rem;
}
section h2 {
  color: #2C3E50;
  font-size: 1.5rem;
  font-weight: bold;
}
section p {
  margin: 0.5rem 0;
  font-weight: normal;
}
.offer {
  color: #e67e22;
  font-family: 'Segoe UI Bold';  
}
strong {
  color: #D2A218;
}
a {
  color: #27AE60;
  text-decoration: none;
  font-weight: normal;
}
a:hover {
  text-decoration: underline;
}
grayedout{
  color: #595f65; 
  font-size: 12px;
}

.input-control, .btn-submit {
  width: 100%;
  max-width: 230px; /* Adjust this value to set the desired width */
  box-sizing: border-box;
  margin-bottom: 10px;  
}
.input-control_textarea{
  width: 100%;
  max-width: 460px; /* Adjust this value to set the desired width */
  box-sizing: border-box;
  margin-bottom: 10px;  
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px; /* Increase the font size */
}
.btn-submit {
  padding: 10px; /* Add padding to make the button more prominent */
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; /* Increase the font size */  
  /*font-weight: bold;*/ /* Make the text bold */
}
.btn-submit:hover {
  background-color: #218838; /* Change color on hover */
}

footer {
  background: #2C3E50; 
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
