@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>4718 17th Ave NE, Seattle, WA 98105, United States</p>

<p><i class="fas fa-mobile-alt"></i> <a href="tel:+12062199031"><strong>+1 206-219-9031</strong></a></p>
