@page
@model IndexModel
@{
    ViewData["Title"]="Profile";
}

<div class="container">
        <header class="row">
            <div class="col-12">
                <img src="/Images/logo.jpg" alt="Two Brothers" class="top-image">
            </div>
        </header>
        <main class="mt-4">
            <div class="row">                
                <div class="col-12">                    
                    <h1>Welcome to Two Brothers Real Estate Services</h1>
                    <p><blockquote>Your trusted partner in the real estate market of Seattle.</blockquote></p>
                    <br\>
                    <br\>
                    <p>Looking for your dream home or planning to sell your property in Seattle? Two Brothers is here to help. 
                        As the top real estate agency in Seattle, WA, United States, we offer unparalleled service for buyers, sellers, and renters. 
                        Our dedicated team specializes in residential, commercial, and luxury properties, providing expert advice and personalized service to meet your unique needs. 
                        With over 10 years of experience and an extensive portfolio of listings, we make your real estate journey smooth and successful. 
                        Visit <a href="https://maps.app.goo.gl/jvAiypkthNYDQ3ZT8" target="_blank">Two Brothers Real Estate Services</a>  and contact us today for a free consultation and experience the difference!</p>
                </div>
            </div>
            <div class="row">                
                <div class="col-12">                    
                    <h2>Pay only for the real estate services you need!</h2>
                    <br>
                    <p><strong>For $2,995*, get 1.5 hours of initial consultation, home listed in the NWMLS, sign, flyer box, key box, preliminary title, contract write up, and contract negotiation for a successful closing.</strong></p>
                    <p>You must also pay the buyer's agent commission & listing fee only applies to single-family homes priced $1M or less.</p>
                    <p>If your home sells for $350,000 you can save up to $7,500 in commission.</p>
                    <p>If your home sells for $500,000 you can save up to $12,000 in commission.</p>
                    <p>Top rated real estate in seattle, we are providing 1 percent commission on price.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <a class="fas fa-envelope" href="mailto:SellersSave@tbres.com">SellersSave@tbres.com</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                <div class="col-md-12 offset-md-4">
                                 <p><i class="fas fa-mobile-alt"></i> <a href="tel:+12062199031"><strong>+1 206-219-9031</strong></a></p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <a class="fas fa-envelope" href="mailto:BuyersSave@tbres.com">BuyersSave@tbres.com</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <a asp-area="" asp-page="/ContactUs">Contact Us</a>
                </div>
            </div>
            
            <div class="row mt-4">
                <div class="col-12">
                    <p>Buyers: Get REBATES on our commissions!</p>
                    <p>On a $350,000 home, you can get up to a $5,000 rebate check in the mail after closing.</p>
                    <p>On a $500,000 home, you can get up to a $10,000 rebate check in the mail after closing.</p>
                    <p>Please ignore this offer if your home is already listed by another broker. We cooperate with all listing brokers. Better Properties Seattle/King County.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <p><blockquote>Two Brothers Real Estate Services is focused on providing high-quality service and customer satisfaction. We will do everything we can to meet your expectations. With a variety of offerings, we're sure you'll be happy working with us!</blockquote></p>
                </div>
            </div>
        </main>
</div>



