@page
@model IndexModel
@{
    ViewData["Title"]="Home";
}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v20.0" nonce="viE5hlZh"></script>


<div class="container">
        <header class="row">
            <div class="col-12">
                <img src="/Images/logo.jpg" alt="Two Brothers" class="top-image">
            </div>            
        </header>
        <main class="mt-4">
            <div class="row">                
                <div class="col-12">                    
                    <h1>Welcome to Two Brothers Real Estate Services</h1>
                    <p><blockquote>Your trusted and the best partner in the real estate market of Seattle.</blockquote></p>
                    <br\>
                    <br\>
                    <p>Looking for your dream home or planning to sell your property in Seattle? Two Brothers is here to help. 
                        As the top real estate agency in Seattle, WA, United States, we offer unparalleled service for buyers, sellers, and renters. 
                        Our dedicated team specializes in residential, commercial, and luxury properties, providing expert advice and personalized service to meet your unique needs. 
                        With over 10 years of experience and an extensive portfolio of listings, we make your real estate journey smooth and successful. 
                        Visit <a href="https://maps.app.goo.gl/jvAiypkthNYDQ3ZT8" target="_blank">Two Brothers Real Estate Services</a>  and contact us today for a free consultation and experience the difference!</p>
                </div>
            </div>            
            <div class="row">                
                <div class="col-12">                    
                    <h2>Pay only for the real estate services you need!</h2>
                    <br>
                    <p><strong>For $2,995*, get 1.5 hours of initial consultation, home listed in the NWMLS, sign, flyer box, key box, preliminary title, contract write up, and contract negotiation for a successful closing.</strong></p>
                    <p>You must also pay the buyer's agent commission & listing fee only applies to single-family homes priced $1M or less.</p>
                    <p>If your home sells for $350,000 you can save up to $7,500 in commission.</p>
                    <p>If your home sells for $500,000 you can save up to $12,000 in commission.</p>
                    
                    <h2>What is 1% Commission Real Estate Services</h2>
                    <p>As a top-rated real estate agency in Seattle, we are proud to offer a 1% commission on all properties.</p>
                
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <a class="fas fa-envelope" href="mailto:SellersSave@tbres.com">SellersSave@AlaCarteHome.com</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                <div class="col-md-12 offset-md-4">
                                 <p><i class="fas fa-mobile-alt"></i> <a href="tel:+12062199031"><strong>+1 206-219-9031</strong></a></p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <a class="fas fa-envelope" href="mailto:BuyersSave@tbres.com">BuyersSave@AlaCarteHome.com</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <a asp-area="" asp-page="/Services">Services</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <a asp-area="" asp-page="/RealEstateGuide">Real Estate Guid</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <a asp-area="" asp-page="/ContactUs">Contact Us</a>
                </div>
            </div>
            
            <div class="row mt-4">
                <div class="col-12">
                    <h2>Buyers: Get REBATES on our commissions!</h2>
                    <p>On a $350,000 home, you can get up to a $5,000 rebate check in the mail after closing.</p>
                    <p>On a $500,000 home, you can get up to a $10,000 rebate check in the mail after closing.</p>
                    <p>Please ignore this offer if your home is already listed by another broker. We cooperate with all listing brokers. Better Properties Seattle/King County.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <h2>Exceeding Expectations with High-Quality Real Estate Services</h2>
                    <p><blockquote>Two Brothers Real Estate Services is focused on providing high-quality service and customer satisfaction. We will do everything we can to meet your expectations. With a variety of offerings, we're sure you'll be happy working with us!</blockquote></p>
                </div>
            </div>

            <div class="row mt-4">                
                <div class="col-12">  
                    <h2>Follow Us on facebook</h2>                  
                    <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61560760393792" data-tabs="timeline" data-width="500" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/profile.php?id=61560760393792" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/profile.php?id=61560760393792">Two Brothers Real Estate Services</a>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="row mt-4">                
                <div class="col-12">  
                    <h2>Our Location</h2>
                    <div class="map-container">
                        <!-- Google Map Embed Code -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21496.55808623875!2d-122.3297684679898!3d47.66364117119502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490148a20e690e3%3A0x71ac5540bb8236e5!2s4718%2017th%20Ave%20NE%2C%20Seattle%2C%20WA%2098105%2C%20USA!5e0!3m2!1sen!2sbd!4v1718901463832!5m2!1sen!2sbd" 
                            width="600" 
                            height="450" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </main>
</div>



